<%- include("partials/header");  %> 
<%- include("partials/navbar");  %> 

<section id="album" class="cuerpoInicio fullPage">
    <div class="container">
        <div class="row">
          <div class="col-xl-5 col-md-5">
            <div class="row">
              <div
                class="col-xl-8 col-md-8 black text-center justify-content-center"
              >
                <img src="<%= album.portadaAlbum %> " class="img-fluid" alt="" srcset="">
                <h1><%= album.nombreAlbum %></h1>
                <hr />
                <br />
    
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-md-6 ">
            <div class="row">
                <p class="text-start">Lista de canciones de <%= album.nombreAlbum %> </p>
                <br>
                <br>
                <ol>
                <% album.canciones.forEach(cancion => { %>
                    <li>
                        <a class="text-white" href="/album/<%=album._id%> /cancion/<%= cancion._id %> "><h5><%= cancion.nombreCancion  %> </h5></a>
                    </li>
                <hr>
                <% }) %>
            </ol>
            </div>
          </div>
        </div>
      </div>

</section>



